@media (max-width: 1230px) {
  .nav-list {
    display: none;
  }

  .nav-button {
    display: block;
	position: fixed;
	z-index: 9;
	top: 46px;
	right: 30px;
	
  }

  .nav.open .nav-list {
	  display: flex;
    position: fixed;
    flex-direction: column;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: white;
    z-index: 1;
    padding: 46px 30px;
    row-gap: 40px;
    font-size: 34px;
    font-weight: 600;
  }

  .nav-link {
    color: #606060;
  }
  .nav-link.active {
    color: black;
  }
}
